@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 174px;
  padding-right: 177px;
  background: #fff;
  box-shadow: 0px 8px 20px #0000001a;
  z-index: 101;
}
header .logo a {
  font-size: 24px;
  font-weight: 800;
  color: #013991;
  text-decoration: none;
  text-transform: uppercase;
}
header .links ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .links ul li {
  position: relative;
  list-style: none;
  margin-left: 68px;
}
header .links ul li .icon {
  position: absolute;
  top: 4px;
  left: -32px;
  width: 18px;
  height: 2px;
  background: #222;
  cursor: pointer;
}
header .links ul li .icon:after,
header .links ul li .icon:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222;
}
header .links ul li .icon:after {
  top: 6px;
}
header .links ul li .icon:before {
  top: 12px;
}
header .links ul li a {
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
header .links #log-out-icon {
  cursor: pointer;
}
header .links #log-out {
  display: none;
}

.banner {
  position: relative;
  top: 76px;
  width: 100%;
  height: 230px;
  padding-left: 170px;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("https://images.pexels.com/photos/2977345/pexels-photo-2977345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}
.banner div i {
  color: white;
  transform: scale(0.8);
  margin-right: 5.5px;
}
.banner div span {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}
.banner div span a {
  color: #fff;
  text-decoration: none;
}
.banner div img {
  width: 7px;
  height: 11px;
  margin: 0px 11px;
}
.banner p {
  margin-top: 25.5px;
  color: white;
  font-family: sans-serif;
  font-size: 42px;
  letter-spacing: 1.43px;
  text-transform: capitalize;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}
.banner p img {
  width: 16px;
  margin: 0px 11px;
}
.banner p img:last-child {
  opacity: 0;
  display: none;
}

.main-container {
  position: relative;
  top: 76px;
  width: 100%;
  min-height: 100vh;
  padding: 37px 175px 0px 174px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-container .categories-icon {
  display: none;
}
.main-container .categories-container {
  width: 270px;
  background: #f9f9fb;
  margin-right: 30px;
  padding: 14.5px 29.46px 20.5px 20.3px;
}
.main-container .categories-container .categories .title,
.main-container .categories-container .price .title,
.main-container .categories-container .sizes .title {
  position: relative;
  width: 100%;
  height: 36.5px;
  padding-left: 22.28px;
  border-bottom: 1px solid #e4e7f0;
}
.main-container .categories-container .categories .title p,
.main-container .categories-container .price .title p,
.main-container .categories-container .sizes .title p {
  color: #333;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.main-container .categories-container .categories .title .icon,
.main-container .categories-container .price .title .icon,
.main-container .categories-container .sizes .title .icon {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 14.23px;
  height: 2px;
  background: #333;
  cursor: pointer;
  opacity: 0.6;
}
.main-container .categories-container .categories .title .icon:after,
.main-container .categories-container .categories .title .icon:before,
.main-container .categories-container .price .title .icon:after,
.main-container .categories-container .price .title .icon:before,
.main-container .categories-container .sizes .title .icon:after,
.main-container .categories-container .sizes .title .icon:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
}
.main-container .categories-container .categories .title .icon:after,
.main-container .categories-container .price .title .icon:after,
.main-container .categories-container .sizes .title .icon:after {
  top: 5px;
}
.main-container .categories-container .categories .title .icon:before,
.main-container .categories-container .price .title .icon:before,
.main-container .categories-container .sizes .title .icon:before {
  top: 10px;
}
.main-container .categories-container .categories .title::after,
.main-container .categories-container .price .title::after,
.main-container .categories-container .sizes .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88px;
  height: 1px;
  background: #ff1944;
}
.main-container .categories-container .categories .categories-box,
.main-container .categories-container .price .categories-box,
.main-container .categories-container .sizes .categories-box {
  padding-top: 25.5px;
}
.main-container .categories-container .categories .categories-box ul li,
.main-container .categories-container .price .categories-box ul li,
.main-container .categories-container .sizes .categories-box ul li {
  list-style: none;
  margin-bottom: 36px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}
.main-container .categories-container .categories .categories-box ul li:nth-child(4),
.main-container .categories-container .price .categories-box ul li:nth-child(4),
.main-container .categories-container .sizes .categories-box ul li:nth-child(4) {
  margin-bottom: 0px;
}
.main-container .categories-container .categories .categories-box ul li p,
.main-container .categories-container .price .categories-box ul li p,
.main-container .categories-container .sizes .categories-box ul li p {
  font-size: 15px;
}
.main-container .categories-container .categories .categories-box ul li.active,
.main-container .categories-container .price .categories-box ul li.active,
.main-container .categories-container .sizes .categories-box ul li.active {
  color: #ff1944;
}
.main-container .categories-container .categories .categories-box ul li:hover,
.main-container .categories-container .price .categories-box ul li:hover,
.main-container .categories-container .sizes .categories-box ul li:hover {
  color: #ff1944;
}
.main-container .categories-container .price,
.main-container .categories-container .sizes {
  display: none;
}
.main-container .products-container {
  width: 100%;
  height: 100%;
}
.main-container .products-container > p {
  display: none;
}
.main-container .products-container .filter {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .products-container .filter .filter-result p {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}
.main-container .products-container .filter .filter-result p span {
  color: #ff1944;
}
.main-container .products-container .filter .filter-products {
  width: 450px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .products-container .filter .filter-products .filter-price,
.main-container .products-container .filter .filter-products .filter-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid #222222;
  font-size: 15px;
}
.main-container .products-container .filter .filter-products .filter-price select,
.main-container .products-container .filter .filter-products .filter-size select {
  outline: none;
  border: none;
  background: transparent;
  font-size: 15px;
}
.main-container .products-container .products {
  padding-top: 22.5px;
  padding-bottom: 201px;
}
.main-container .products-container .products .product-container {
  position: relative;
  margin-bottom: 54px;
  width: 100%;
  height: 193px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}
.main-container .products-container .products .product-container .toggle-menu {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 25px;
  height: 10px;
  cursor: pointer;
  z-index: 100;
}
.main-container .products-container .products .product-container .toggle-menu .button {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #222;
}
.main-container .products-container .products .product-container .toggle-menu .button:after,
.main-container .products-container .products .product-container .toggle-menu .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #222;
}
.main-container .products-container .products .product-container .toggle-menu .button:after {
  left: 8px;
}
.main-container .products-container .products .product-container .toggle-menu .button:before {
  left: 16px;
}
.main-container .products-container .products .product-container .menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.main-container .products-container .products .product-container .menu-items .menu-item {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}
.main-container .products-container .products .product-container .menu-items .menu-item a {
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000;
}
.main-container .products-container .products .product-container .menu-items .menu-item a:hover {
  color: blue;
}
.main-container .products-container .products .product-container .menu-items .menu-item p {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}
.main-container .products-container .products .product-container .menu-items .menu-item p:nth-child(3):hover {
  color: gray;
}
.main-container .products-container .products .product-container .menu-items .menu-item p:hover {
  color: red;
}
.main-container .products-container .products .product-container .img-box {
  width: 270px;
  height: 193px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-container .products-container .products .product-container .img-box img {
  width: 270px;
  height: 193px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
}
.main-container .products-container .products .product-container .img-box img:hover {
  transform: scale(1.2);
}
.main-container .products-container .products .product-container .product-details {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-container .products-container .products .product-container .product-details .product-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.main-container .products-container .products .product-container .product-details .product-name h1 {
  font-size: 30px;
  text-transform: capitalize;
  margin-right: 10px;
  color: #013991;
}
.main-container .products-container .products .product-container .product-details .product-name span {
  padding: 2px 10px 5px;
  background: green;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
}
.main-container .products-container .products .product-container .product-details .description {
  margin-bottom: 20px;
}
.main-container .products-container .products .product-container .product-details .description p {
  font-size: 18px;
}
.main-container .products-container .products .product-container .product-details .colors-container .color {
  margin-right: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 6px solid;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 5px;
}
.main-container .products-container .products .product-container .product-details .colors-container .color:hover {
  transform: scale(0.8);
}
.main-container .products-container .products .product-container .product-details .sizes-container {
  margin-bottom: 10px;
}
.main-container .products-container .products .product-container .product-details .sizes-container span {
  font-weight: 600;
  margin-right: 5px;
  cursor: pointer;
}
.main-container .products-container .products .product-container .product-details .buy-price {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-container .products-container .products .product-container .product-details .buy-price a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #ff1944;
  border-radius: 20px;
  padding: 10px 15px;
  outline: none;
}
.main-container .products-container .products .product-container .product-details .buy-price a i {
  color: #fff;
  transform: scale(0.8);
  margin-right: 5px;
  transition: 0.5s;
}
.main-container .products-container .products .product-container .product-details .buy-price a i:hover {
  transform: scale(1);
}
.main-container .products-container .products .product-container .product-details .buy-price .price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.main-container .products-container .products .product-container .product-details .buy-price .price p {
  font-size: 18px;
  font-weight: 600;
}
.main-container .products-container .products .product-container .product-details .delete-product {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.main-container .products-container .products .product-container .product-details .delete-product i {
  color: red;
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.5s;
}
.main-container .products-container .products .product-container .product-details .delete-product i:hover {
  transform: scale(1.1);
}
.main-container .products-container .products .product-container .delete-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box p {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete button {
  display: inline-block;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border: none;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete button:nth-child(1) {
  background: rgba(255, 0, 0, 0.7);
  transition: 0.5s;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete button:nth-child(1):hover {
  background: red;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete button:nth-child(2) {
  background: rgba(0, 128, 0, 0.7);
  transition: 0.5s;
}
.main-container .products-container .products .product-container .delete-box .confirm-delete-box .delete button:nth-child(2):hover {
  background: green;
}

.single-product-container {
  position: relative;
  top: 76px;
  width: 100%;
  min-height: 100vh;
  padding: 42.5px 0px 108.2px 174px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.single-product-container .single-product {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.single-product-container .single-product .img-box {
  width: 700px;
  margin-bottom: 22px;
}
.single-product-container .single-product .img-box div .lens {
  height: 150px;
  width: 150px;
  border: 2px solid #bebebe;
  cursor: pointer;
  display: none;
}
.single-product-container .single-product .img-box div img {
  width: 100%;
  height: 620px;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
}
.single-product-container .single-product .img-box .img-slider {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-product-container .single-product .img-box .img-slider img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.single-product-container .single-product .img-box .img-slider img:hover {
  transform: scale(1.1);
}
.single-product-container .single-product .product-info {
  width: 700px;
  height: 100%;
  position: relative;
  margin-left: 40px;
}
.single-product-container .single-product .product-info > p {
  font-size: 27px;
  color: #222;
  font-weight: bold;
  text-transform: capitalize;
}
.single-product-container .single-product .product-info .new {
  color: green;
  font-size: 14px;
  font-weight: normal;
  margin: 16.5px 0px 24.5px;
}
.single-product-container .single-product .product-info .product-describe {
  width: 100%;
  margin-bottom: 10px;
}
.single-product-container .single-product .product-info .product-describe p {
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 20px;
}
.single-product-container .single-product .product-info .colors-container {
  margin-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.single-product-container .single-product .product-info .colors-container span {
  margin-right: 13px;
  font-size: 14px;
  text-transform: uppercase;
}
.single-product-container .single-product .product-info .colors-container .color {
  margin-right: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 6px solid;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.single-product-container .single-product .product-info .colors-container .color:hover {
  transform: scale(0.8);
}
.single-product-container .single-product .product-info .sizes-container {
  padding-bottom: 20px;
  border-bottom: 0.5px solid #bebebe;
}
.single-product-container .single-product .product-info .sizes-container span {
  font-size: 14px;
  margin-right: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.single-product-container .single-product .product-info .sizes-container span:nth-child(1) {
  margin-right: 10px;
}
.single-product-container .single-product .product-info .bg {
  width: 100%;
  height: 60px;
}
.single-product-container .single-product .product-info .buy-price {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.single-product-container .single-product .product-info .buy-price a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #ff1944;
  border-radius: 20px;
  padding: 10px 15px;
  outline: none;
}
.single-product-container .single-product .product-info .buy-price a i {
  color: #fff;
  transform: scale(0.8);
  margin-right: 5px;
  transition: 0.5s;
}
.single-product-container .single-product .product-info .buy-price a i:hover {
  transform: scale(1);
}
.single-product-container .single-product .product-info .buy-price .price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 36px;
}
.single-product-container .single-product .product-info .buy-price .price p {
  font-size: 18px;
  font-weight: 600;
}
.single-product-container .contact {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  background: #ff1944;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.single-product-container .contact img {
  width: 25px;
  height: 25px;
  transition: 0.5s;
  animation: animationContact 2s linear infinite;
}
.single-product-container .contact img:hover {
  transform: scale(1.2);
}
.single-product-container .contact p {
  text-align: center;
  line-height: 54px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes animationContact {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-20deg);
  }
  20% {
    transform: rotateZ(0deg) scale(1.2);
  }
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
.add-product {
  position: relative;
  top: 76px;
  width: 100%;
  min-height: 100vh;
  padding-left: 174px;
}
.add-product form {
  width: 700px;
  padding: 50px 40px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.add-product form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.add-product form textarea {
  width: 90%;
  margin-bottom: 20px;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #000;
  outline: none;
  transition: 0.2s;
}
.add-product form textarea:focus {
  border-color: #ff1944;
}
.add-product form input[type=text],
.add-product form input[type=number] {
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  transition: 0.2s;
}
.add-product form input[type=text]:focus,
.add-product form input[type=number]:focus {
  border-bottom: 1px solid #ff1944;
}
.add-product form input[type=file] {
  margin-bottom: 20px;
  margin-left: 10px;
}
.add-product form select {
  margin-left: 10px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  background: #000;
}
.add-product form select option {
  font-weight: bold;
}
.add-product form select[name=colors] {
  color: transparent;
}
.add-product form input[type=submit] {
  display: inline-block;
  width: 150px;
  height: 40px;
  background: #000;
  color: #fff;
  border-bottom: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.add-product form .images-box {
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
}
.add-product form .images-box .image-box {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.add-product form .images-box .image-box img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 10px;
}
.add-product form .images-box .image-box img:hover {
  transform: scale(1.2);
}
.add-product .create-product-success p {
  padding: 10px 25px;
  display: inline-block;
  background: green;
  font-weight: bold;
  color: #fff;
}

.login-page,
.sign-up-page,
.forgot-password-page {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-form,
.login-page .sign-up-form,
.login-page .forgot-password-form,
.sign-up-page .login-form,
.sign-up-page .sign-up-form,
.sign-up-page .forgot-password-form,
.forgot-password-page .login-form,
.forgot-password-page .sign-up-form,
.forgot-password-page .forgot-password-form {
  width: 450px;
  height: 700px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px 30px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.login-page .login-form .image-box,
.login-page .sign-up-form .image-box,
.login-page .forgot-password-form .image-box,
.sign-up-page .login-form .image-box,
.sign-up-page .sign-up-form .image-box,
.sign-up-page .forgot-password-form .image-box,
.forgot-password-page .login-form .image-box,
.forgot-password-page .sign-up-form .image-box,
.forgot-password-page .forgot-password-form .image-box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.login-page .login-form .image-box img,
.login-page .sign-up-form .image-box img,
.login-page .forgot-password-form .image-box img,
.sign-up-page .login-form .image-box img,
.sign-up-page .sign-up-form .image-box img,
.sign-up-page .forgot-password-form .image-box img,
.forgot-password-page .login-form .image-box img,
.forgot-password-page .sign-up-form .image-box img,
.forgot-password-page .forgot-password-form .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.login-page .login-form h1,
.login-page .sign-up-form h1,
.login-page .forgot-password-form h1,
.sign-up-page .login-form h1,
.sign-up-page .sign-up-form h1,
.sign-up-page .forgot-password-form h1,
.forgot-password-page .login-form h1,
.forgot-password-page .sign-up-form h1,
.forgot-password-page .forgot-password-form h1 {
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.login-page .login-form p,
.login-page .sign-up-form p,
.login-page .forgot-password-form p,
.sign-up-page .login-form p,
.sign-up-page .sign-up-form p,
.sign-up-page .forgot-password-form p,
.forgot-password-page .login-form p,
.forgot-password-page .sign-up-form p,
.forgot-password-page .forgot-password-form p {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.login-page .login-form form,
.login-page .sign-up-form form,
.login-page .forgot-password-form form,
.sign-up-page .login-form form,
.sign-up-page .sign-up-form form,
.sign-up-page .forgot-password-form form,
.forgot-password-page .login-form form,
.forgot-password-page .sign-up-form form,
.forgot-password-page .forgot-password-form form {
  width: 100%;
  margin-top: 30px;
}
.login-page .login-form form div,
.login-page .sign-up-form form div,
.login-page .forgot-password-form form div,
.sign-up-page .login-form form div,
.sign-up-page .sign-up-form form div,
.sign-up-page .forgot-password-form form div,
.forgot-password-page .login-form form div,
.forgot-password-page .sign-up-form form div,
.forgot-password-page .forgot-password-form form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.login-page .login-form form div label,
.login-page .sign-up-form form div label,
.login-page .forgot-password-form form div label,
.sign-up-page .login-form form div label,
.sign-up-page .sign-up-form form div label,
.sign-up-page .forgot-password-form form div label,
.forgot-password-page .login-form form div label,
.forgot-password-page .sign-up-form form div label,
.forgot-password-page .forgot-password-form form div label {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.login-page .login-form form div label i,
.login-page .sign-up-form form div label i,
.login-page .forgot-password-form form div label i,
.sign-up-page .login-form form div label i,
.sign-up-page .sign-up-form form div label i,
.sign-up-page .forgot-password-form form div label i,
.forgot-password-page .login-form form div label i,
.forgot-password-page .sign-up-form form div label i,
.forgot-password-page .forgot-password-form form div label i {
  margin-right: 10px;
}
.login-page .login-form form div input,
.login-page .sign-up-form form div input,
.login-page .forgot-password-form form div input,
.sign-up-page .login-form form div input,
.sign-up-page .sign-up-form form div input,
.sign-up-page .forgot-password-form form div input,
.forgot-password-page .login-form form div input,
.forgot-password-page .sign-up-form form div input,
.forgot-password-page .forgot-password-form form div input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background: transparent;
  margin-bottom: 10px;
}
.login-page .login-form form div input:focus,
.login-page .sign-up-form form div input:focus,
.login-page .forgot-password-form form div input:focus,
.sign-up-page .login-form form div input:focus,
.sign-up-page .sign-up-form form div input:focus,
.sign-up-page .forgot-password-form form div input:focus,
.forgot-password-page .login-form form div input:focus,
.forgot-password-page .sign-up-form form div input:focus,
.forgot-password-page .forgot-password-form form div input:focus {
  border-bottom: 2px solid #000;
}
.login-page .login-form form .error-messages,
.login-page .sign-up-form form .error-messages,
.login-page .forgot-password-form form .error-messages,
.sign-up-page .login-form form .error-messages,
.sign-up-page .sign-up-form form .error-messages,
.sign-up-page .forgot-password-form form .error-messages,
.forgot-password-page .login-form form .error-messages,
.forgot-password-page .sign-up-form form .error-messages,
.forgot-password-page .forgot-password-form form .error-messages {
  width: 100%;
}
.login-page .login-form form .error-messages ul,
.login-page .sign-up-form form .error-messages ul,
.login-page .forgot-password-form form .error-messages ul,
.sign-up-page .login-form form .error-messages ul,
.sign-up-page .sign-up-form form .error-messages ul,
.sign-up-page .forgot-password-form form .error-messages ul,
.forgot-password-page .login-form form .error-messages ul,
.forgot-password-page .sign-up-form form .error-messages ul,
.forgot-password-page .forgot-password-form form .error-messages ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page .login-form form .error-messages ul li,
.login-page .sign-up-form form .error-messages ul li,
.login-page .forgot-password-form form .error-messages ul li,
.sign-up-page .login-form form .error-messages ul li,
.sign-up-page .sign-up-form form .error-messages ul li,
.sign-up-page .forgot-password-form form .error-messages ul li,
.forgot-password-page .login-form form .error-messages ul li,
.forgot-password-page .sign-up-form form .error-messages ul li,
.forgot-password-page .forgot-password-form form .error-messages ul li {
  list-style: none;
}
.login-page .login-form form .error-messages ul li p,
.login-page .sign-up-form form .error-messages ul li p,
.login-page .forgot-password-form form .error-messages ul li p,
.sign-up-page .login-form form .error-messages ul li p,
.sign-up-page .sign-up-form form .error-messages ul li p,
.sign-up-page .forgot-password-form form .error-messages ul li p,
.forgot-password-page .login-form form .error-messages ul li p,
.forgot-password-page .sign-up-form form .error-messages ul li p,
.forgot-password-page .forgot-password-form form .error-messages ul li p {
  color: red;
  margin-bottom: 5px;
}
.login-page .login-form form p a,
.login-page .sign-up-form form p a,
.login-page .forgot-password-form form p a,
.sign-up-page .login-form form p a,
.sign-up-page .sign-up-form form p a,
.sign-up-page .forgot-password-form form p a,
.forgot-password-page .login-form form p a,
.forgot-password-page .sign-up-form form p a,
.forgot-password-page .forgot-password-form form p a {
  display: block;
  text-decoration: none;
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
}
.login-page .login-form form input[type=submit],
.login-page .sign-up-form form input[type=submit],
.login-page .forgot-password-form form input[type=submit],
.sign-up-page .login-form form input[type=submit],
.sign-up-page .sign-up-form form input[type=submit],
.sign-up-page .forgot-password-form form input[type=submit],
.forgot-password-page .login-form form input[type=submit],
.forgot-password-page .sign-up-form form input[type=submit],
.forgot-password-page .forgot-password-form form input[type=submit] {
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px 0px 30px;
  cursor: pointer;
}
.login-page .login-form form a,
.login-page .sign-up-form form a,
.login-page .forgot-password-form form a,
.sign-up-page .login-form form a,
.sign-up-page .sign-up-form form a,
.sign-up-page .forgot-password-form form a,
.forgot-password-page .login-form form a,
.forgot-password-page .sign-up-form form a,
.forgot-password-page .forgot-password-form form a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  font-size: 14px;
}

.sign-up-page .sign-up-form {
  height: 830px;
  padding: 30px 30px 0px;
}

.forgot-password-page .forgot-password-form {
  height: 600px;
}

.page-not-found {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-not-found h1 {
  font-size: 100px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 30px;
}
.page-not-found p {
  font-size: 20px;
  border-top: 1px solid #666;
  padding-top: 40px;
}
.page-not-found p span {
  cursor: pointer;
  display: inline-block;
  background: #666;
  padding: 10px 30px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 1680px) {
  header {
    padding-left: 80px;
    padding-right: 80px;
  }

  .banner {
    padding-left: 80px;
  }
  .banner p {
    font-size: 40px;
  }

  .main-container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .single-product-container {
    padding-left: 80px;
  }

  .add-product {
    padding-left: 80px;
  }
}
@media (max-width: 1440px) {
  .page-not-found h1 {
    font-size: 50px;
  }
  .page-not-found p {
    font-size: 16px;
    padding-top: 20px;
  }
}
@media (max-width: 1024px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .banner {
    padding-left: 50px;
  }
  .banner p {
    font-size: 35px;
  }

  .main-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-container .products-container .products .product-container .product-details .product-name h1 {
    font-size: 25px;
  }

  .single-product-container {
    padding-left: 50px;
  }
  .single-product-container .single-product .img-box div img {
    height: 410px;
  }
  .single-product-container .single-product .img-box .img-slider {
    height: 70px;
  }
  .single-product-container .single-product .img-box .img-slider img {
    width: 70px;
    height: 70px;
  }

  .add-product {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  p, a {
    font-size: 18px;
  }

  header {
    padding: 29px 16px 29px 50px;
    z-index: 200;
  }
  header .links {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    z-index: 100;
    margin-right: 0;
    padding-top: 48px;
    color: #222;
    transition: 0.5s;
  }
  header .links .close {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  header .links .close:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #222;
    transform: rotateZ(45deg);
  }
  header .links .close:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #222;
    transform: rotateZ(-45deg);
  }
  header .links ul {
    flex-direction: column;
  }
  header .links ul li {
    margin-left: 0px;
    margin-bottom: 62px;
    cursor: pointer;
  }
  header .links ul li .icon {
    display: none;
  }
  header .links #log-out-icon {
    display: none;
  }
  header .links #log-out {
    display: initial;
  }
  header .links.active {
    left: 0;
  }
  header .toggle-links {
    position: absolute;
    top: 28px;
    right: 50px;
    width: 29px;
    height: 29px;
    cursor: pointer;
  }
  header .toggle-links .toggle {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 22px;
    height: 3px;
    background: #222;
    border-radius: 2px;
  }
  header .toggle-links .toggle:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0px;
    width: 29px;
    height: 3px;
    background: #222;
    border-radius: 2px;
  }
  header .toggle-links .toggle:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0px;
    width: 29px;
    height: 3px;
    background: #222;
    border-radius: 2px;
  }

  .banner {
    flex-direction: column-reverse;
    padding-left: 50px;
    background: url("https://i.pinimg.com/236x/b6/d6/97/b6d697f9bfdd96858506d6f8f1ef5cb6.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
  }
  .banner p {
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 13.5px;
  }

  .main-container {
    padding: 0px 50px 20px 50px;
    flex-direction: column;
  }
  .main-container .categories-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    cursor: pointer;
  }
  .main-container .categories-icon p {
    margin-left: 10px;
    font-weight: bold;
  }
  .main-container .categories-container {
    position: fixed;
    top: 0;
    left: -100%;
    display: initial;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 300;
    transition: 0.5s;
    padding-left: 41px;
    padding-top: 34px;
  }
  .main-container .categories-container #close-filter {
    position: absolute;
    top: 28px;
    right: 21px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .main-container .categories-container #close-filter:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #222;
    transform: rotateZ(45deg);
  }
  .main-container .categories-container #close-filter:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #222;
    transform: rotateZ(-45deg);
  }
  .main-container .categories-container .categories,
.main-container .categories-container .price,
.main-container .categories-container .sizes {
    height: 200px;
    width: 300px;
  }
  .main-container .categories-container .categories .title,
.main-container .categories-container .price .title,
.main-container .categories-container .sizes .title {
    padding-left: 0;
  }
  .main-container .categories-container .categories .title p,
.main-container .categories-container .price .title p,
.main-container .categories-container .sizes .title p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  .main-container .categories-container .categories .icon,
.main-container .categories-container .price .icon,
.main-container .categories-container .sizes .icon {
    display: none;
  }
  .main-container .categories-container .categories .categories-box,
.main-container .categories-container .price .categories-box,
.main-container .categories-container .sizes .categories-box {
    width: 300px;
  }
  .main-container .categories-container .categories .categories-box ul,
.main-container .categories-container .price .categories-box ul,
.main-container .categories-container .sizes .categories-box ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-container .categories-container .categories .categories-box ul li,
.main-container .categories-container .price .categories-box ul li,
.main-container .categories-container .sizes .categories-box ul li {
    width: 50%;
  }
  .main-container .categories-container .price,
.main-container .categories-container .sizes {
    display: initial;
  }
  .main-container .categories-container.active {
    left: 0;
  }
  .main-container .products-container {
    padding-top: 20px;
  }
  .main-container .products-container > p {
    display: initial;
    font-weight: bold;
  }
  .main-container .products-container > p span {
    color: #ff1944;
  }
  .main-container .products-container .filter {
    display: none;
  }
  .main-container .products-container .products {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .main-container .products-container .products .product-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main-container .products-container .products .product-container .menu-items .menu-item {
    width: 80%;
    height: 250px;
  }
  .main-container .products-container .products .product-container .img-box {
    margin-right: 0px;
    width: 100%;
    height: 400px;
    background: whitesmoke;
    border-radius: 8px;
  }
  .main-container .products-container .products .product-container .img-box img {
    width: 100%;
    height: 100%;
  }
  .main-container .products-container .products .product-container .menu-items .menu-item {
    width: 60%;
    height: 350px;
  }
  .main-container .products-container .products .product-container .product-details .product-name {
    margin-top: 28px;
    background: transparent;
  }
  .main-container .products-container .products .product-container .product-details .product-name h1 {
    font-size: 20px;
    color: #222;
  }
  .main-container .products-container .products .product-container .product-details .product-name span {
    color: #013991;
  }
  .main-container .products-container .products .product-container .product-details .description {
    margin-bottom: 10px;
  }
  .main-container .products-container .products .product-container .product-details .description p {
    color: #333;
    font-size: 15px;
  }
  .main-container .products-container .products .product-container .product-details .colors-container .color {
    width: 20px;
    height: 20px;
  }
  .main-container .products-container .products .product-container .product-details .sizes-container {
    margin-bottom: 50px;
  }
  .main-container .products-container .products .product-container .product-details .sizes-container span {
    font-size: 13px;
    color: #333;
  }
  .main-container .products-container .products .product-container .product-details .buy-price a {
    font-size: 16px;
  }
  .main-container .products-container .products .product-container .product-details .buy-price .price p {
    font-size: 16px;
  }
  .main-container .products-container .products .product-container .delete-box .confirm-delete-box {
    width: 60%;
    height: 350px;
  }
  .main-container .products-container .products .product-container .delete-box .confirm-delete-box p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
  }

  .add-product {
    padding: 20px 50px 20px 50px;
  }
  .add-product form {
    padding: 30px 0 0 0;
    width: 100%;
  }
  .add-product form input[type=text],
.add-product form textarea,
.add-product form input[type=number],
.add-product form input[type=submit] {
    width: 100%;
  }

  .single-product-container {
    padding: 20px 50px 20px 50px;
    flex-direction: column;
  }
  .single-product-container .single-product {
    width: 100%;
    flex-direction: column;
  }
  .single-product-container .single-product .img-box {
    width: 100%;
  }
  .single-product-container .single-product .img-box div img {
    height: 450px;
  }
  .single-product-container .single-product .img-box .img-slider {
    height: 70px;
  }
  .single-product-container .single-product .img-box .img-slider img {
    width: 70px;
    height: 70px;
  }
  .single-product-container .single-product .product-info {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .single-product-container .single-product .product-info .product-describe {
    width: 100%;
  }
  .single-product-container .single-product .product-info .contact {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
  }
  .single-product-container .single-product .product-info .contact img {
    width: 15px;
    height: 15px;
  }

  .login-page,
.sign-up-page,
.forgot-password-page {
    width: 100%;
    height: 100%;
    padding: 100px;
  }
  .login-page .login-form,
.login-page .sign-up-form,
.login-page .forgot-password-form,
.sign-up-page .login-form,
.sign-up-page .sign-up-form,
.sign-up-page .forgot-password-form,
.forgot-password-page .login-form,
.forgot-password-page .sign-up-form,
.forgot-password-page .forgot-password-form {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .login-page .login-form input,
.login-page .sign-up-form input,
.login-page .forgot-password-form input,
.sign-up-page .login-form input,
.sign-up-page .sign-up-form input,
.sign-up-page .forgot-password-form input,
.forgot-password-page .login-form input,
.forgot-password-page .sign-up-form input,
.forgot-password-page .forgot-password-form input {
    margin-top: 20px;
  }

  .page-not-found h1 {
    font-size: 20px;
  }
  .page-not-found p {
    font-size: 16px;
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  p, a {
    font-size: 16px;
  }

  header {
    padding: 29px 16px 29px 17px;
  }
  header .links .close {
    top: 28px;
    right: 20px;
  }
  header .toggle-links {
    right: 16px;
  }

  .banner {
    padding-left: 17px;
  }

  .main-container {
    padding-right: 16px;
    padding-left: 17px;
  }
  .main-container .products-container .products {
    padding-top: 10px;
  }
  .main-container .products-container .products .product-container .img-box {
    height: 232px;
  }
  .main-container .products-container .products .product-container .delete-box .confirm-delete-box {
    width: 80%;
    height: 250px;
  }

  .add-product {
    padding-left: 17px;
    padding-right: 16px;
  }

  .single-product-container {
    padding-right: 16px;
    padding-left: 17px;
  }
  .single-product-container .single-product .img-box div img {
    height: 250px;
  }
  .single-product-container .single-product .img-box .img-slider {
    height: 50px;
  }
  .single-product-container .single-product .img-box .img-slider img {
    width: 50px;
    height: 50px;
  }
  .single-product-container .single-product .product-info {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .single-product-container .single-product .product-info .product-describe {
    width: 100%;
  }
  .single-product-container .single-product .product-info .contact {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
  }
  .single-product-container .single-product .product-info .contact img {
    width: 15px;
    height: 15px;
  }

  .login-page,
.sign-up-page,
.forgot-password-page {
    padding: 0px;
  }
  .login-page .login-form,
.login-page .sign-up-form,
.login-page .forgot-password-form,
.sign-up-page .login-form,
.sign-up-page .sign-up-form,
.sign-up-page .forgot-password-form,
.forgot-password-page .login-form,
.forgot-password-page .sign-up-form,
.forgot-password-page .forgot-password-form {
    padding-top: 20px;
  }
  .login-page input,
.sign-up-page input,
.forgot-password-page input {
    margin-top: 0;
  }

  .page-not-found h1 {
    font-size: 20px;
  }
  .page-not-found p {
    font-size: 16px;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
